<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h1 class="display-4">Welcome to FileFish</h1>
        <h6>please select where you would like to be directed</h6>

    </div>
</div>
<div class="container-button justify-content-center">

    <div>
        <button type="button" class="btn btn-primary btn-lg">Search for System</button>

    </div>
    <div>
        <button type="button" class="btn btn-primary btn-lg">Add Data to Existing System</button>
    </div>
    <div>
        <button type="button" class="btn btn-primary btn-lg">Enter a new System</button>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>