

{{!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
    </div>
</nav> --}}

    <div class="container">
    <div class="row">
              <div class="col-md-5  card card2">
        <img class= "logo center" src= "img/filefish.png">
        <br>
        <h4><strong>FileFish</strong> is an online service for aquarists and aquarium hobbiests.  
          Input water parameters and see data trends to create the optimum environment for your animals.

        </h4>

        <h4> <strong>Sign up</strong> or <strong>login</strong> to beta test V2.0</h4>

      </div>
      <div class="col-md-6  card card3">
            <h2>Login Form</h2>
            <form class="login">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Login</button>
            </form>
            <br />
            <p>Or sign up <a href="/">here</a></p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js">