<div class="jumbotron jumbotron-fluid">
  
        <h1 class="display-4"><b>Welcome to FileFish!</b></h1>
        <img class="logo" src="../img/filefish.png" />
      <h4>Please select where you would like to be directed</h4>

</div>

<div class="container members-options">

  <div class="card-1">
    <img src="public/img/Capture-project2-search (2).PNG" class="card-img-top"
      alt="image"height="250">
    <div class="card-body">
    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/searchData'"><a class="butt" >Search Data</a></button>     
    </div>
  </div>

  <div class="card-1">
    <img src="public/img/Capture-project2-add (2).PNG" class="card-img-top"
      alt="image"height="250">
    <div class="card-body">
    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/addData'" ><a class="butt">Enter Data</a></button>
    </div>
  </div>

  <div class="card-1">
    <img src="public/img/Capture-project2-new (2).PNG"
      class="card-img-top" alt="image"height="250">
    <div class="card-body">
    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/newSystem'"><a class="butt" >Add a System</a></button>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>