<nav class="nav">
    <a class="nav-link" href="/members">Home</a>
    <a class="nav-link" href="/signup">Sign Up</a>
    <a class="nav-link" href="/addData">Add Data</a>
    <a class="nav-link" href="/searchData">Search Data</a>
    <a class="nav-link" href="/newSystem">New System</a>
    <a class="nav-link" href="/login">Log In</a>
    <a class="nav-link" href="/index">Landing Page</a>
  </nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome!</h1>
    </div>
</div>
<div class="container-button">
    <button type="button" class="btn btn-primary btn-lg"><a class="butt" href="/searchData">Search Data</a></button>

    <button type="button" class="btn btn-primary btn-lg"><a class="butt"  href="/addData">Enter Data</a></button>

    <button type="button" class="btn btn-primary btn-lg"><a class="butt"  href="/newSystem">Add a System</a></button>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>