<nav class="nav">
    <a class="nav-link" href="/members">Home</a>
    <a class="nav-link" href="/signup">Sign Up</a>
    <a class="nav-link" href="/addData">Add Data</a>
    <a class="nav-link" href="/searchData">Search Data</a>
    <a class="nav-link" href="/newSystem">New System</a>
    <a class="nav-link" href="/login">Log In</a>
    <a class="nav-link" href="/index">Landing Page</a>
  </nav>


<div class="header">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Manage Your Systems</h1>
            <p class="lead">

            </p>

        </div>
    </div>


</div>
 <div class="card card-body col-md-10 offset-md-1">
   <div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="name-container">
					<h1>Systems</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th># of Entries</th>
								<th>See Systems's Entries</th>
								<th>Add Data</th>
								<th>Delete System</th>
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
								<form id="name-form">
									<td colspan="4">
										<input placeholder="Enter a system name" id="name" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Create System</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
        </div>



<script src="public/js/newSystem.js" async defer></script>