<div class="header">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">EXHIBITS</h1>
            <p class="lead">

            </p>

        </div>
    </div>


</div>



<div class="card">
    <div class="card-header">
        Create a new Exhibit
    </div>
    <div class="card-body">
        <h5 class="card-title">Enter the parameters of your exhibit</h5>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Enter the name of the Exhibit:</span>
            </div>
            <input id="exhibit_name" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>


        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Temperature (Fº):</span>
            </div>
            <input id="temp" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>


        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">PH:</span>
            </div>
            <input id="ph" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>


        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Specific gravity (PPT):</span>
            </div>
            <input id="gravity" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>


        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Dissolved Oxygen</span>
            </div>
            <input id="oxygen" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>


    </div>
</div>


<script src="../js/" async defer></script>