
<nav class="nav">
    <a class="nav-link" href="/members">Home</a>
    <a class="nav-link" href="/addData">Add Data</a>
    <a class="nav-link" href="/newSystem">New System</a>
</nav>


<div class="header">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><b>EXHIBITS</b></h1>

            <div class="card-body center">
                <div class="form-group">
                    <label for="category"><b>Select System:</b></label>
                    <select class="custom-select" id="designation" style="background-color: white;">
                    </select>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="card card-body col-md-10 offset-md-1">
    <div class="row">
        <div class="container-dataClass">
            <div class="col-md-10 offset-md-1">
                <div class="name-container">
                    <h1 style="background-color: rgba(0, 0, 0, 0.849); padding: 10px; text-align: center; width: 100%;">System Parameters</h1>
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Temp(F)</th>
                                <th>PH</th>
                                <th>Salinity</th>
                                <th>DO</th>
                                <th>Alk</th>
                                <th>Ammonia</th>
                                <th>Nitrate</th>
                                <th>Nitrite</th>
                                <th>Iodine</th>
                                <th>Calcium</th>
                            </tr>
                        </thead>
                </div>

                <tbody>


                </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</div>
</div>




<script src="/public/js/searchData.js"></script>